extends template

block content
    h1= title
    h2= message 

    p Welcome to pug manito 
    img(src="https://i0.wp.com/www.silocreativo.com/wp-content/uploads/2017/01/cover.png?fit=666%2C370&quality=100&strip=all&ssl=1", alt="")